n8n/lead data from drive to pinecore.json
{
  "name": "lead data from drive to pinecore",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UxRdxNevX3Fp8b1AgnGemEGUcy1GHBTN",
          "mode": "list",
          "cachedResultName": "tesla earning",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UxRdxNevX3Fp8b1AgnGemEGUcy1GHBTN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dd4cc662-a6c7-4de9-973c-d527dc029fb3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9HqgJrR3hYYDIRvO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ff19bbe8-8572-424a-a086-b45abb0c4977",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9HqgJrR3hYYDIRvO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "teslan8n",
          "mode": "list",
          "cachedResultName": "teslan8n"
        },
        "options": {
          "pineconeNamespace": "teslan8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "e3f13c86-a2be-42fc-b240-92badf5775b0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kaZvNl8WfMRhktRT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        240
      ],
      "id": "7a3cc580-f1aa-4190-9575-b08f080550ef",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HK5X6h5g8njvO5Pt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "datadataq3",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        240
      ],
      "id": "5f9cbe0d-1558-4b31-a248-b979ef33e164",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        416
      ],
      "id": "46141a03-cbb0-49b2-bc88-07332a540d37",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a47bac8-d8a1-475f-88a1-4c40193a1da9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15665e55c5d9383110aed8ec37b111ca999ec3da26328615c6405cc97acd60bf"
  },
  "id": "pvo6k8YziIp1J18J",
  "tags": []
}